#!/bin/bash

dxp_script_dir="$(dirname "$(readlink -f "$0")")"

dxp_android_platform="~/android/sdk/platforms/current"
dxp_android_libs="$dxp_android_platform/android.jar"

dxp_apktool_dir=($dxp_script_dir/bundled/apktool*)
chmod +x "$dxp_apktool_dir/apktool"

dxp_dex2jar_dir=($dxp_script_dir/bundled/dex2jar*)
dxp_dex2jar_sh=($dxp_dex2jar_dir/d2j*.sh)
chmod +x ${dxp_dex2jar_sh[*]}

PATH="$dxp_apktool_dir:$dxp_dex2jar_dir:$PATH"

dxp_cfr_jar=($dxp_script_dir/bundled/cfr/cfr*.jar)
dxp_dexpatcher_jar=($dxp_script_dir/bundled/dexpatcher/dexpatcher-[0-9]*.jar)
dxp_dexpatcher_annotation_jar=($dxp_script_dir/bundled/dexpatcher/dexpatcher-annotation*.jar)

