#!/bin/bash

dxp_script_dir="$(dirname "$(readlink -f "$0")")"

dxp_android_sdk_dir=(~/android/sdk)

dxp_android_all_platforms_dir="$dxp_android_sdk_dir/platforms"
dxp_android_all_build_tools_dir="$dxp_android_sdk_dir/build-tools"

# Choose the highest numbered installed components:
dxp_android_platform=$(ls -vr "$dxp_android_all_platforms_dir" | grep '^android-' | head -n 1)
dxp_android_build_tools=$(ls -vr "$dxp_android_all_build_tools_dir" | grep '^[0-9]' | head -n 1)

dxp_android_platform_dir="$dxp_android_all_platforms_dir/$dxp_android_platform"
dxp_android_build_tools_dir="$dxp_android_all_build_tools_dir/$dxp_android_build_tools"

dxp_android_libs="$dxp_android_platform_dir/android.jar"
dxp-dx() { "$dxp_android_build_tools_dir/dx" "$@"; }

dxp_apktool_dir=($dxp_script_dir/bundled/apktool*)
chmod +x "$dxp_apktool_dir/apktool"

dxp_dex2jar_dir=($dxp_script_dir/bundled/dex2jar*)
dxp_dex2jar_sh=($dxp_dex2jar_dir/d2j*.sh)
chmod +x ${dxp_dex2jar_sh[*]}

PATH="$dxp_apktool_dir:$dxp_dex2jar_dir:$PATH"

dxp_cfr_jar=($dxp_script_dir/bundled/cfr/cfr*.jar)
dxp-cfr() { java -cp "$dxp_cfr_jar:$dxp_android_libs" org.benf.cfr.reader.Main "$@"; }

dxp_dexpatcher_jar=($dxp_script_dir/bundled/dexpatcher/dexpatcher-[0-9]*.jar)
dxp_dexpatcher_annotation_jar=($dxp_script_dir/bundled/dexpatcher/dexpatcher-annotation*.jar)

